h1{
	margin-left: 20%;
	margin-right: 5%;
	font-family: header;
	color: #86E9BB;
}
h2{
	margin-left: 5%;
	margin-right: 5%;
	font-family: header;
}
p{
	margin-left: 5%;
	margin-right: 5%;
	font-size: medium;
}
li{
	margin-left: 5%;
	margin-right: 5%;
	font-size: medium;
}
#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
	font-family: header;
}
#fail {
    position: relative;
    border: 1px solid black;
    background-image: url("cups.jpg");
    background-size: 100% 100%;
    width: 500px;
    height: 250px;
    padding-top: 80px;
    padding-right: 20px;
    padding-bottom: 80px;
    padding-left: 20px;
}
