#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slogan
{
  margin-left: 20%;
	margin-right: 5%;
	font-family: header;
	color: #86E9BB;
}

#featuredSim
{
  margin-left: 40px;
  padding-bottom: 10px;
  color:#EEFFE9;
  font-family:header;
}

.emscripten
{
  width:700px;
  height:500px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
