#harassmentSim
{
  margin-left: 38%;
  padding-bottom: 10px;
  color:#EEFFE9;
  font-family: header;
}
#featuredSim
{
  margin-left: 8%;
  padding-bottom: 10px;
  color:#86E9BB;
  font-family:header;
}
.emscripten
{
  width:700px;
  height:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p{
  margin-left: 15%;
  padding-bottom: 10px;
  font-size: 120%;
  color:#EEFFE9;
}
